@charset "UTF-8";

body {
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 600px;
    border-collapse: collapse;
    height: 200px;
}

tr, td {
    border: 1px solid black;
}

col.cnome {
    background-color: aquamarine;
}

col.cidade {
    background-color: cadetblue;
}